<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% unless @loos.empty? %>

      <h1>Listing Loos(<%= @loos.size %>)</h1>
      
        <% @loos.each do |loo| %>      
        <hr />
        <div class="row">
          <div class="col-md-4">
            <a href="<%= loo_path(loo) %>">
              <%= image_tag loo.attachments.first.file.url(:medium), class: "img-thumbnail" %>
            </a>
          </div>
          <div class="col-md-7">
            <h3 class="media-heading"><%= link_to loo.name, loo_path(loo) %></h3>
            <p><%= loo.location_name %></p>
            <%= render :partial => 'loos/summary', locals: { loo: loo } %>
          </div>
        </div>
        <% end %>
      <% else %>
      <div class="panel panel-default">
        <div class="panel-body">
          No loos found.
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>

