<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @loo.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @loo.lng %>
</p>

<p>
  <strong>Name:</strong>
  <%= @loo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loo.description %>
</p>

<p>
  <strong>Open hours:</strong>
  <%= @loo.open_hours %>
</p>

<p>
  <strong>Closing hours:</strong>
  <%= @loo.closing_hours %>
</p>

<p>
  <strong>Open closing note:</strong>
  <%= @loo.open_closing_note %>
</p>

<p>
  <strong>Managed by:</strong>
  <%= @loo.managed_by %>
</p>

<p>
  <strong>Type:</strong>
  <%= @loo.loo_type %>
</p>

<p>
  <strong>Genders:</strong>
  <%= @loo.genders %>
</p>

<p>
  <strong>No of toilets:</strong>
  <%= @loo.no_of_toilets %>
</p>

<p>
  <strong>No of bathrooms:</strong>
  <%= @loo.no_of_bathrooms %>
</p>

<p>
  <strong>No of urinals:</strong>
  <%= @loo.no_of_urinals %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @loo.paid %>
</p>

<%= link_to 'Edit', edit_loo_path(@loo) %> |
<%= link_to 'Back', loos_path %>
