<%= simple_form_for(@toilet) do |f| %>
  <%= f.error_notification %>

  <div id="location_section" class="form-inputs">

    <fieldset style="padding: 20px; border: solid 1px #ccc;">
      <input type="text" id="location_input" />
    </fieldset>

    <br />
    <br />
    <br />
    
    <%= f.input :lat, input_html: { data: { geo: 'lat' } } %>
    <%= f.input :lng, input_html: { data: { geo: 'lng' } } %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :open_hours %>
    <%= f.input :closing_hours %>
    <%= f.input :open_closing_note %>
    <%= f.input :managed_by %>
    <%= f.input :type %>
    <%= f.input :genders %>
    <%= f.input :no_of_toilets %>
    <%= f.input :no_of_bathrooms %>
    <%= f.input :no_of_urinals %>
    <%= f.input :paid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
