<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @toilet.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @toilet.lng %>
</p>

<p>
  <strong>Name:</strong>
  <%= @toilet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toilet.description %>
</p>

<p>
  <strong>Open hours:</strong>
  <%= @toilet.open_hours %>
</p>

<p>
  <strong>Closing hours:</strong>
  <%= @toilet.closing_hours %>
</p>

<p>
  <strong>Open closing note:</strong>
  <%= @toilet.open_closing_note %>
</p>

<p>
  <strong>Managed by:</strong>
  <%= @toilet.managed_by %>
</p>

<p>
  <strong>Type:</strong>
  <%= @toilet.type %>
</p>

<p>
  <strong>Genders:</strong>
  <%= @toilet.genders %>
</p>

<p>
  <strong>No of toilets:</strong>
  <%= @toilet.no_of_toilets %>
</p>

<p>
  <strong>No of bathrooms:</strong>
  <%= @toilet.no_of_bathrooms %>
</p>

<p>
  <strong>No of urinals:</strong>
  <%= @toilet.no_of_urinals %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @toilet.paid %>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
